@using PhotoViewer.Data
@model PhotosModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sander Broos Photography</h1>
</div>

<div class="image-grid">
	@foreach (Photo thePhoto in Model.Photos) {
		@* <div class="image-item"> *@
			<img src="@thePhoto.ThumbnailURL" />
		@* </div> *@
	}
</div>