@using Newtonsoft.Json
@using PhotoViewer.Data
@model PhotosModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 page-title">Sander Broos Photography</h1>
</div>

<div class="d-flex justify-content-center gap-4">
	<button id="myButton2023" class="btn btn-info">2023</button>
	<button id="myButton2024" class="btn btn-info">2024</button>
</div>

<div id="myImageGrid" class="image-grid">
</div>

<div id="myImageItemTemplate" style="display: none">
	@*<div class="image-item"> *@
		<img/>
	@*</div> *@
</div>

@section Scripts {
	<script src="js/Gallery.js"></script>
	<script>
		var theGallery;
		$(document).ready(function () {
			theGallery = new Gallery(@Html.Raw(JsonConvert.SerializeObject(Model.Photos)));
		});
	</script>
}
